<!-- Toolbar -->
<div class="toolbar" role="banner">
  <svg id="logo" style="width: 33%" alt="mymdb logo" xmlns="http://www.w3.org/2000/svg" viewBox="60 5 16 16" fill="black" width="60px" height="48px"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4h-4z"/></svg>
  <h2>Welcome to mymdb</h2>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <app-movie-list></app-movie-list>
</div>

<router-outlet></router-outlet>
